*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
}

body{
    
}

.inner-wrap{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

#page-header{
    border: 1px solid black;
}

#page-nav ul{
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
}

#page-nav li{
    float: left;
    margin: 0 10px;
}

main{
    border: 1px solid black;
}

#page-footer{
    border: 1px solid black;
}

.theme-list ul{
    overflow: hidden;
}

.theme-list ul li{
    float: left;
}

.theme{
    border: 1px solid black;
    padding: 5px;
    width: 200px;
    min-height: 250px;
    text-align: center;
}

#debug{
    border: 1px solid red;
}

#debug *{
    font-size: 10px;
}

h1{
    font-size: 16px;
}

h2{
    font-size: 14px;
}

h3{
    font-size: 14px;
}

#content{
    float: left;
    width: 70%;
}

#comments{
    float: right;
    width: 30%;
}

.topic{
    padding: 10px;
    border: 1px solid #000;
    width: 60%;
    margin: 10px auto;
}

.opinion{
    width: 50%;
    padding: 10px;
    border: 1px solid #000;
    margin: 10px auto;
}